/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.login-form {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #EFFDF5;
}

.homepage {
  padding-top: 40px;
  flex-direction: column;
}

.homepage .link {
  border: 2px solid #313131;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.homepage .link:hover {
  background: white;
  text-decoration: none;
  transition: 1s;
}

.listing-form form {
  padding: 20px;
  background-color: white !important;
}

form {
  box-shadow: 1px 1px 4px black;
  margin-top: 10px;
}

.login-form input, .listing-form .text-area {
  width: 300px;
}

.login-form label {
  display: block;
}

.login-form button {
  width: 300px;
  background-color: #0F0F0F;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.login-form .register {
  width: 300px;
  background-color: #00B98E;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}