/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.login-form {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #EFFDF5;
}

.homepage {
  padding-top: 40px;
  flex-direction: column;
}

.homepage .link {
  border: 2px solid #313131;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.homepage .link:hover {
  background: white;
  text-decoration: none;
  transition: 1s;
}

.listing-form form {
  padding: 20px;
  background-color: white !important;
}

form {
  box-shadow: 1px 1px 4px black;
  margin-top: 10px;
}

.login-form input, .listing-form .text-area, .modal-form input {
  width: 300px;
}

.login-form label, .modal-form label {
  display: block;
}

.login-form button, .modal-form button {
  width: 300px;
  background-color: #0F0F0F;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.login-form .register {
  width: 300px;
  background-color: #00B98E;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.modal-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-form label {
  margin-top: 10px;
  margin-bottom: 0;
}

.error {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  margin-top: 4px;
}





.chat-container {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2; /* Optional background color */
}

.chat-sidebar {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; /* Enable scroll for long chat lists */
}

.chat-content {
  width: 70%;
  padding: 10px;
  display: flex; /* Make chat content a flex container */
  flex-direction: column; /* Arrange messages vertically */
}

.chat-list-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333; /* Text color */
}

.chat-history {
  height: 80%; /* Adjust height as needed */
  overflow-y: scroll; /* Enable scrolling for chat history */
  padding-bottom: 10px; /* Add some padding for aesthetics */
  padding-right: 28px;
  flex: 1; /* Allow chat history to fill remaining space */
}

.chat-message {
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 5px;
  display: inline-block; /* Allow messages to wrap next to each other */
  position: relative; /* Needed for message timestamps (optional) */
  width: fit-content; /* Allow messages to adjust width based on content */
  max-width: 80%; /* Set a maximum width to prevent overflow */
  clear: both; /* Clear any previous floats for proper positioning */
}

.chat-message-sent {
  background-color: #00B98E;
  color: #FAFFFF; /* Text color for sent messages */
  border-bottom-right-radius: 0; /* Remove bottom-right border for sent messages */
  padding-right: 10px; /* Add some padding for sent messages */
  float: right; /* Make sent messages float to the right */
  /* Optional: Add a right triangle after sent messages (using ::after pseudo-element) */
}

.chat-message-received {
  background-color: #fff;
  color: #333; /* Text color for received messages */
  border-bottom-left-radius: 0; /* Remove bottom-left border for received messages */
  padding-left: 10px; /* Add some padding for received messages */
  float: left; /* Make received messages float to the left */
  /* Optional: Add a left triangle after received messages (using ::after pseudo-element) */
}
